{{#partial "content"}}
    {{#if sightings}}
        <h4>Here are some of the sightings that have been made in <i>Douglas Fir forest.</i></h4>
        {{#each sightings}}
            <p>{{id}}. A {{animalName}} sighting was made by {{rangerName}} at {{location}}</p>
        {{/each}}
    {{else}}
        <h4>Hi, Ranger! Have you made a sighting in <i>Douglas Fir forest</i>? Add it <a href="sightings/all/new">here.</a> </h4>
    {{/if}}
{{/partial}}
{{> layout.hbs}}